@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

.text-color-auto {
    color: black;

    &:where(.dark, .dark *) {
        color: white;
    }
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
    z-index: 1;
}
.dark::view-transition-new(root) {
    z-index: 999;
}

::view-transition-old(root) {
    z-index: 999;
}
::view-transition-new(root) {
    z-index: 1;
}

html,
body,
#app {
    height: 100%;
}

.drag-area {
    -webkit-app-region: drag;
    app-region: drag;
}

.no-drag-area {
    -webkit-app-region: no-drag;
    app-region: no-drag;
}

.title-bar {
    padding-left: env(titlebar-area-x);
    width: calc(env(titlebar-area-width) - 16px);
}

.passport-title-bar {
    padding-left: env(titlebar-area-x);
    width: calc(env(titlebar-area-width) - 16px);
}
